{% extends 'base.html' %}
{% load static %}

{% block head_title %}
Products | Ecommerce.com
{% endblock %}
{% block content %}
<style>
.thumnails{
    height: 300px;
    widows: 400px;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    color: black;
    text-align: center;
    padding-top: 100px;
}

</style>
{% if sliders %}
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for slider in sliders %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}" {% if forloop.first %}class="active" {% endif %}></li>
        {% endfor %}
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        {% for slider in sliders %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img class="d-block w-100" src="{{slider.image.url }}" alt="Third slide">
              <div class="carousel-caption d-none d-md-block">
                  <h5>Welcome to Ecommerce.com</h5>
                  <p>Ejnoy shopping </p>
                </div>
          </div>
          {% endfor %} 
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>

{% endif %}
 <!--Grid row-->
 <section class="text-center mb-4">
 <div class="row wow fadeIn">
{% for product in products %}
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view overlay">
            {% if product.productimage_set.all %}
            {% for item in product.productimage_set.all %}
            {% if item.featured %}
              <img src="{{ item.image.url }}"
               class="card-img-top"
                alt="">
              <a href="{{ product.get_absolute_url }}">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <!--Card image-->
            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <h5>
                <strong>
                  <a href="{{ product.get_absolute_url }}"
                   class="dark-grey-text">
                   {{ product.title }}
                  </a>
                </strong>
              </h5>

              <h4 class="font-weight-bold blue-text">
                <strong>₹{{product.price }}</strong>
              </h4>
            </div>
            </div>
            </div>
{% endfor %}
 </section>
{% endblock %}