{% extends 'base.html' %}
{% load static %}
{% block content %}

 <!-- <div class="col-sm-4">
{% for img in images %}
    {% if img.featured %}
        <img src="{{ img.image.url }}" class="img-fluid" alt="{{product.title}}"/> <br>
    {% endif %}
  <a href="{{ img.images.url}}" class="img-thumbnail"><img src="{{ img.image.url }}" alt="{{product.title}}" class="img-fluid"/></a>
{% endfor %}
</div> -->
<div class="row">
<div class="col-sm-4">
        {% for img in images %}
            {% if img.featured %}
                <img src="{{ img.image.url }}" class="img-fluid" alt="{{product.title}}"/> <br>
            {% else %}
          <a href="{{ img.image.url}}" class="thumbnail"><img src="{{ img.image.url }}" alt="{{product.title}}"
            class="img-fluid" height="150px;" width="150px;"/></a>
            {% endif %}
        {% endfor %}
</div>
<div class="col-md-8">
    <h1>{{product.title}} </h1>
    <form method="POST" class="form" action="{% url 'add_to_cart' product.slug %}">
      {% csrf_token %}
        <input type="submit" value="Add to cart" class="btn btn-outline-success m-2"> <br>
        <input name="qty" type="number" value="1" class="form-control m-2" style="width: 50px;
                                                         height: 40px;"/>
        

        {% if product.variations_set.all %} 
        {% if product.variations_set.sizes %}
        <select class="form-control" name="size">
          {% for vars in product.variations_set.sizes %}
          <option value="{{ vars.title | lower}}">{{ vars.title| capfirst}}</option>
          {% endfor %}
        </select>
        {% endif %}
        {% endif %}
        {% if product.variations_set.all %}
        {% if product.variations_set.colors %}
        <select class="form-control" name="color">
          {% for vars in product.variations_set.colors %}
          <option value="{{ vars.title | lower}}">{{ vars.title| capfirst}}</option>
          {% endfor %}
        </select>
        {% endif %}
        {% endif %}
      </form>
    <hr>
    <h3>Price :{{ product.price }}</h3>
    <p>{{ product.description }}</p>
</div>
<div class="col-sm-4">
  
  <div>
 
  
{% endblock %}
