{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% block content %}
<br />
<div class="container">
  <div class="row">
        {% if address_form %}
        <div class="col-sm-6 pull-right">
          <legend>Add new Address</legend>
          <form
            action='{% url "add_user_address" %}?redirect=checkout'
            method="POST"
            class="form_inline"
          >
            {% csrf_token %}
            {{ address_form | crispy }}
            <input type="submit" class="btn btn-primary" value="Add address" />
          </form>
        </div>
        {% endif %}


    <div class="col-sm-6">
      <form action="{% url 'coming_soon' %}" method="POST">
          {% csrf_token %}
          {% if current_addresses %}
      <h3>Saved Addresses</h3>
      {% for address in current_addresses %} <input name="address" type="radio" value="{{ address.get_user_addresses }} "
       {% if request.user.userdefaultaddress.shipping.id == address.id %}checked='checked' {% endif %}>
       {{ address.get_user_addresses }} <br />
      {% endfor %}
      {% endif %}
      <!-- Material input -->
      <div class="md-form">
        Credit/Debit card number
         <input type="text"
         placeholder="1234 5678 9101 1223"
         id="card" name="payment_card"
          class="form-control">
          Expiry month
          <input type="text" style="width: 100px;" name="exp_month" placeholder="MM" maxlength="2"><br><br>
          Expiry year
          <input type="text" style="width: 100px;" name="exp_year" placeholder="YYYY" maxlength="4"><br><br>
          CVC
          <input type="text" style="width: 100px;" name="cvc" placeholder="" maxlength="">

      </div>
      <input type="submit" value="Next>" class="btn">
      </form>

    </div>
  </div>
  </div>

  
 {% endblock %}
