{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% block content %}
<br />
<div class="container">
  <div class="breadcrumb ">
    <p><b>Note**</b> This is just a sample payment using stripe.<p>
  </div>
  <b><p> Use Card no: 4242 4242 4242 4242 </p> </b>
  <b> <p> expire date: any date greater than today, </p>  </b>
  <b> <p> cvc : 123 </p> </b>
  <div class="row">
        {% if address_form %}
        <div class="col-sm-6 pull-right">
          <legend>Add new Address</legend>
          <form
            action='{% url "add_user_address" %}?redirect=checkout'
            method="POST"
            class="form_inline"
          >
            {% csrf_token %}
            {{ address_form | crispy }}
            <input type="submit" class="btn btn-primary" value="Add address" />
          </form>
        </div>
        {% endif %}
        <div class="col-sm-6">
        {% if current_addresses %}
        <h3>Saved Addresses</h3>
        {% for address in current_addresses %} <input name="address" type="radio" value="{{ address.get_user_addresses }} "
         {% if request.user.userdefaultaddress.shipping.id == address.id %}checked='checked' {% endif %}>
         {{ address.get_user_addresses }} <br />
        {% endfor %}
        {% endif %}
        <form action="{% url 'charge' %}" method="POST">
          {% csrf_token %}
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ stripe_key }}"
            data-description="Some order"
            data-amount="100"
            data-locale="auto">
            </script>
        </div>
        </form>
  </div>
  </div>

  
 {% endblock %}
